name: Tests

env:
  IMAGE_NAME: mirror-to-gitea

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: '1.24'
    - name: Install dependencies
      run: go mod download
    - name: Run tests
      run: go test -v ./...
    - name: Build
      run: go build -v .
